@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3,
  h4 {
    @apply font-bold;
  }
}

/* Global default styles */
html {
  scroll-behavior: smooth;
}

/* Default Pages content styles */
#cv-header a {
  @apply underline;
}
#page-content h2 {
  @apply text-base;
}
#page-content p,
h2,
h3 {
  @apply py-1;
}
#page-content a{
  @apply underline;
}
#page-content :is(h1, h2, h3) {
  @apply underline;
}
#page-content pre {
  @apply p-4 my-4 overflow-x-auto;
}
#page-content ul {
  @apply list-disc pl-5;
}
.pagebreak {
  break-after: page;
}
.falsepagebreak {
  height: 100px;
}