<!doctype html>
    <html lang="{{lang}}">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- FAVICON -->
      {% if config.extra.favicon.webmanifest %}
      <link href="{{ config.extra.favicon.manifest }}"" rel="manifest" />
      {% endif %}
      {% if config.extra.favicon.favicon_16x16 %}
      <link href='{{ config.extra.favicon.favicon_16x16 }}' rel="icon" sizes="16x16" type="image/png" />
      {% endif %}
      {% if config.extra.favicon.favicon_32x32 %}
      <link href='{{ config.extra.favicon.favicon_32x32 }}' rel="icon" sizes="32x32" type="image/png" />
      {% endif %}
      {% if config.extra.favicon.android_chrome_512 %}
      <link href='{{ config.extra.favicon.android_chrome_512 }}' rel="android-chrome" sizes="512x512" />
      {% endif %}
      {% if config.extra.favicon.android_chrome_192 %}
      <link href='{{ config.extra.favicon.android_chrome_192 }}' rel="android-chrome" sizes="192x192" />
      {% endif %}
      {% if config.extra.favicon.apple_touch_icon %}
      <link href='{{ config.extra.favicon.apple_touch_icon }}' rel="apple-touch-icon" sizes="180x180" />
      {% endif %}
      {% if config.extra.favicon.apple_touch_icon %}
      <link href='{{ config.extra.favicon.apple_touch_icon }}' rel="apple-touch-icon" sizes="180x180" />
      {% endif %}

      <link href="/css/main-cv.css" rel="stylesheet">
      <link id="syntax_highlight" rel="stylesheet">

      <title>
        {% block title %}
        {{ config.title }}
        {% endblock title %}
      </title>
  </head>
  <body class="dark:bg-gray-700 flex flex-col h-screen justify-between">
  <!----------------------------------------------------------->
  <!------------------------- CONTENT ------------------------->
  <!----------------------------------------------------------->
  <main class="max-w-7xl mx-auto text-black dark:text-gray-200 w-full mb-auto">
    {% block content %}
    {% endblock content %}
  </main>

  <!------------------------- SCRIPTS ------------------------->
  {% if config.extra.enable_multilingue %}
    <script defer src="/js/lang.js"></script>
  {% endif %}
  {% if config.extra.enable_adsense %}
    <script async src="{{ config.extra.adsense_link | safe }}"
     crossorigin="anonymous"></script>
  {% endif %}
  {% block extra_js %}
  {% endblock extra_js %}
  </body>
</html>
